.Exercise-container {
    text-align: right;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 0 8px;
}

.Exercise-name {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}

.Exercise-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Exercise-sets {
    color: #919cad;
    font-size: 11px;
    font-weight: 700;
}

.Exercise-info {
    color: #95a6b7;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}
